.container {
  display: flex;
  justify-content: space-around;
}

.shapes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.circle,
.square {
  width: 20px;
  height: 20px;
}

.circle {
  border-radius: 50%;
}
